[defaults]
# Remova qualquer linha que aponte para collections_paths locais
# Deixe o AWX gerenciar os caminhos dentro do container

[inventory]
# Adicione o plugin correto da microsoft
enable_plugins = microsoft.ad.ad, auto, yaml, ini
